/* ### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%) */


:root{
    /* Primary */
    --dark-cyan:hsl(158, 36%, 37%);
    --cream:hsl(30, 38%, 92%);

    /* Neutral */
    --dark-blue:hsl(212, 21%, 14%);
    --grayish-blue:hsl(228, 12%, 48%);
    --white:hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

p,h4, h1{
    margin: 0;
}

.container{
    display: flex;
    background-color: var(--white);
    border-radius: 15px;
    width: 100%;
    max-width:800px;
    gap: 10px;
    height: 600px;
    overflow: hidden;
}
.product-pic{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card{
    flex:1;
}

.right{
    padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
}

.product-description,
.product-type,
.og-price{
    color: var(--grayish-blue);
} 

.product-type{
    margin: 20px 0;
}

.product-name,
.price-container{
    font-family: "Fraunces", sans-serif;
}

.product-name{
    width: 82%;
    font-size:3.0rem
}

.product-description{
    width: 85%;
    max-width: 100%;
    margin: 20px 0;
    font-size: 1.1rem;
}

.price-container{
    padding: 20px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dc-price{
    font-size:3rem;
    color: var(--dark-cyan);
}

.og-price{
    text-decoration: line-through;
    font-size: 1rem;
}

button{
    padding: 15px 0;
    background-color: var(--dark-cyan);
    border:none;
    border-radius:10px;
    color: var(--white);
    font-weight:bold;
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

button:hover{
    cursor: pointer;
    background-color: hsl(158, 36%, 25%);
}


@media(max-width:375px){

    .container{
        flex-direction: column;
        width: 100%;
        height:auto;
        text-align: center;
    }

    .right{
        align-items: center;
    }

    .product-pic{
        width: 100%;
        height: 300px;
        border-bottom-right-radius: 15px
    }

    button{
        width: 100%;
    }

    .price-container{
        width: 90%;
    }
}


